body {
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    color: #000;
    margin: 0;
    padding: 0;

    /* The image used */
    background-image: url("backgroung.jpg");

    /*!* Center and scale the image nicely *!*/
    background-position: top;
    background-size: 100%;
}

.logo_img {
    width: 350px;
}

.container {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.stats {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
}

.miseries {
    border-radius: 30px;
    width: 30px;
    height: 30px;
}

.left-section, .right-section {
    width: 35%;
}

.central-section{
    width: 20%;
}

.header, .inventory, .silver-omens, .attributes, .equipment, .powers, .miseries {
    margin-bottom: 20px;
}

.header label, .inventory label, .silver-omens label, .attributes label, .equipment label, .powers label, .miseries label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.header input, .inventory .row, .attributes .circle, .miseries .box {
    width: 100%;
    padding: 5px;
    max-width: calc(100% - 12px);
    border: 1px solid #000;
    border-radius: 3px;
}

.header div, .equipment div{
    padding: 5px;
}

.weapons input, .armor input{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    max-width: calc(100% - 12px);
    border: 1px solid #000;
    border-radius: 3px;
}

textarea {
    height: 200px;
    width: calc(100% - 12px);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    max-width: calc(100% - 12px);;
}

.health-boxes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.health-boxes input{
    width: 50px;
}

.health-boxes label{
    margin-right: 10px;
}

.attributes .attribute, .silver-omens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.inventory .inventory-table {
    display: flex;
    flex-direction: column;
}

.inventory .row {
    height: 30px;
    margin-bottom: 5px;
}
